@import "../styles/base/mixinResponse";

.container-root-main {
    background: white;

    @include desktop {
        min-height: calc(100vh - 15.3rem);
    }

    @include tablet {
        min-height: calc(100vh - 19.3rem);
    }

    @include mobile {
        min-height: calc(100vh - 19.3rem);
    }

    .container-root-body {
        margin-top: 6rem;
    }
}